
{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block style %}
  <style>
    #map {
      width: 1000px;
      height: 1000px;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <div id="map"></div>
    

  </div>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>

<script>

  let mymap = L.map('map').setView([48.692054, 6.184416999999939], 13);

  let iconParking = L.icon({
    iconUrl: 'https://upload.wikimedia.org/wikipedia/commons/5/5f/Parking_icon.svg',
    iconSize: [20, 20],
  })

  let iconParkingVelo = L.icon({
    iconUrl: 'https://www.icone-png.com/png/10/10388.png',
    iconSize: [20, 20],
  })

  $.get("/api/parking", function(data) {
    data.parkings.forEach(element => {
      let lat = element.position.lat;
      let long = element.position.long;

      let marker = L.marker(
        [lat, long], 
        {icon: iconParking}
      ).addTo(mymap);

      let layer = omnivore.kml('/api/stopstan');
      
      marker.bindPopup(
        '<h4>' + element.name + "</h4> \
        places : " + element.nbStands 
      ).on('click', () => {
        layer.addTo(mymap);
      })
      .on('popupclose', () => {
        layer.remove();
      })
      .addTo(mymap);
    });

  });

  $.get("/api/parkingvelos", function(data) {
    data.VeloSchema.forEach(element => {
      let lat = element.position.lat;
      let long = element.position.long;

      let markerVelo = L.marker(
        [lat, long], 
        {icon: iconParkingVelo}
      ).addTo(mymap);

      let layer = omnivore.kml('/api/stopstan');
      
      markerVelo.bindPopup(
        '<h4>' + element.name + "</h4> \
        <p> velos dispo : " + element.nbVeloAvailable + "</p> \
        <p> place dispo : " + element.nbStandsAvailable + "</p>"
      ).on('click', () => {
        layer.addTo(mymap);
      })
      .on('popupclose', () => {
        layer.remove();
      })
      .addTo(mymap);
    });

  });

  omnivore.kml('/api/park').addTo(mymap);
  

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(mymap);
</script>

{% endblock %}